h1{
	text-align: center;
	color:#fafafa; 
	font-variant-caps:all-small-caps;

}

header {
	color: white;
	background-color: rgb(255,255,255);
	display: inline
	width: 1080px;
	height: 150px;
	background-image: url(../images/flywheel.jpg);
}

body {

	padding: 10px 20px 10px 20px ;
	margin: 10px 20px 10px 20px 
}


a{
	color: #000000;
	background-color:#e0e0e0;
	
}

nav a {
    margin: 10px 20px 10px 20px ;

	padding: 20px 50px 20px 50px ;
	text-decoration: none;
}
img{
	display: none;
}

h2{
	color: rgb(0,0,255);
	font-size: xx-large;
	font-variant-caps:all-small-caps;
    font-family: arial,'times new roman',vedenta;
}

main{
	background-color: #bdbdbd;

}

p{
	font-family: arial,'times new roman',vedenta;
	line-height: 100%
	display: inline-block;
}